body{
    background-color:black;
    padding: 30px;
}
h1{
    text-align: center;
    text-size-adjust: 40px;
    margin: 20px;
    color: white;
}
.div{
    text-align: center;
    color: white;
    margin: 25px;
}
p{
    text-align: justify;
    color: yellow;
    margin: 29px;
}
img{
    border: 8px solid #ddd;
    border-radius: 6px;
    padding: 7px;
    width: 50%;
    height: 50%;
}